%script{:src => "/list.js"}
%link{:href => "/list.css", :media => "all", :rel => "stylesheet"}

.container-fluid
  .row-fluid
    #filter.span12
      %form#form-inline{:action => '/list', :method => 'GET'}
        %label{:for => 'filter-select'} Filter by Event
        %select#filter-select
          %option{:value => ''} All Events
          - @previous_events.each do |event|
            %option{:value => event}
              = event

  .row-fluid
    .span9
      %table.table.table-condensed.table-hover
        %thead
          %tr
            %th
              %a#enable-delete.btn{:href => "#"}
                %i.icon-trash
            %th Upload Date
            %th Event
            %th Name
            %th Link
        %tbody
          - @pages.each do |page|
            %tr.page{:'data-page-event' => page.event, :'data-page-path' => page.relative_link_to_self, :'data-page-pretty-path' => page.relative_pretty_link_to_self, :'data-page-content-path' => page.relative_link_to_content, :'data-page-date' => page.formatted_created_at, :'data-page-name' => page.full_name, :'data-favorite-path' => page.relative_link_to_favorite, :'data-unfavorite-path' => page.relative_link_to_unfavorite}
              %td
                %form{:action => page.relative_link_to_self, :id => "delete_page_#{page.salt}_#{URI.encode(page.name)}", :method => "post"}
                  %input{:name => "_method", :type => "hidden", :value => "delete"}
                  %a.btn.delete.hide{:href => "#"}
                    %i.icon-trash
              %td.date
                = page.formatted_created_at
              %td.event
                %a.event-link{:href => '#'}
                  = page.event
              %td.name
                = page.full_name
              %td.link
                %a{:href => page.relative_link_to_self}= page.relative_pretty_link_to_self
              %td
                - if page.favorite
                  %a.star-it.hide{:href => '#'}
                    %i.icon-star-empty
                  %a.starred{:href => '#'}
                    %i.icon-star
                -else
                  %a.star-it{:href => '#'}
                    %i.icon-star-empty
                  %a.starred.hide{:href => '#'}
                    %i.icon-star
              %td
                %a.preview-link.btn.preview-btn{:href => '#'}
                  %i.icon-eye-open
    #preview-container.hide.span3
      %h3 Preview
      %h4 Student Info
      %h6 Upload Date
      #preview-date -
      %h6 Event
      #preview-event -
      %h6 Name
      #preview-name -
      %h6 Link
      #preview-link -
      %h4 Webpage
      %hr
      #loading.hide
        .progress.progress-striped.active
          .bar{:style => 'width: 100%'}
      #preview
