%script{:src => "/list.js"}
%link{:href => "/list.css", :media => "all", :rel => "stylesheet"}

.container
  .row
    #filter.span12
      %form#form-inline{:action => '/list', :method => 'GET'}
        %label{:for => 'filter-select'} Filter by Event
        %select#filter-select
          %option
          - @previous_events.each do |event|
            %option{:value => event}
              = event

  .row
    .span9
      %table.table.table-condensed.table-hover
        %thead
          %tr
            %th
            %th Event
            %th Name
            %th Link
        %tbody
          - @pages.each do |page|
            %tr.page{:'data-page-event' => page.event, :'data-page-url' => page.relative_link_to_self}
              %td
                %form{:action => page.relative_link_to_self, :id => "delete_page_#{page.salt}_#{URI.encode(page.name)}", :method => "post"}
                  %input{:name => "_method", :type => "hidden", :value => "delete"}
                  %a.delete{:href => "#"}
                    %i.icon-trash
              %td
                = page.event
              %td
                = page.name
                = page.middle_initial
                = page.last_name
              %td
                %a{:href => page.relative_link_to_self}= page.relative_pretty_link_to_self
              %td
                %a.btn.preview-btn{:href => '#'} Preview
    .span3
      %h4 Preview
      %hr
      #loading.hide
        .progress.progress-striped.active
          .bar{:style => 'width: 100%'}
      #preview
