%link{:href => "/bootstrap/css/bootstrap-responsive.min.css", :rel => "stylesheet"}
%link{:href => "/list.css", :media => "all", :rel => "stylesheet"}

.container-fluid
  .row-fluid
    #filter.span12
      %form#form-inline{:action => '/list', :method => 'GET'}
        %label{:for => 'filter-select'} Filter by Event
        %select#filter-select
          %option{:value => ''} All Events
          - @previous_events.each do |event|
            %option{:value => event}
              = event

  .row-fluid
    .span8
      - @events_and_pages.each do |event, pages|
        .event{'data-event' => event}
          - if event == ''
            %h4= escape_html '<event missing>'
          - else
            %h4= event
          %table.table.table-condensed.table-hover
            %thead
              %tr
                %th.delete-placeholder
                  %a.enable-delete.btn.show-on-header-hover{:href => "#"}
                    %i.icon-trash
                %th.date Upload Date
                %th.name Name
                %th.link Link
                %th.content Content
                %th.favorite
                %th.preview
            %tbody
              - pages.each do |page|
                %tr.page{:'data-page-event' => page.event, :'data-page-path' => page.relative_link_to_self, :'data-page-pretty-path' => page.relative_pretty_link_to_self, :'data-page-content-path' => page.relative_link_to_content, :'data-page-date' => page.formatted_created_at, :'data-page-name' => page.name, 'data-page-middle-initial' => page.middle_initial, 'data-page-last-name' => page.last_name, 'data-change-event-path' => page.relative_link_to_change_event, 'data-update-name-path' => page.relative_link_to_update_name, 'data-favorite-path' => page.relative_link_to_favorite, :'data-unfavorite-path' => page.relative_link_to_unfavorite}
                  %td.delete-placeholder
                    %i.icon-move.move-page.show-on-hover
                    %form{:action => page.relative_link_to_self, :id => "delete_page_#{page.salt}_#{URI.encode(page.name)}", :method => "post"}
                      %input{:name => "_method", :type => "hidden", :value => "delete"}
                      %a.btn.delete.hide{:href => "#"}
                        %i.icon-trash
                  %td.date
                    = page.formatted_created_at
                  %td.name
                    %span.name-container
                      = page.full_name
                    %a.edit.show-on-hover{:href => '#'}
                      %i.icon-edit
                  %td.link
                    %a{:href => page.relative_link_to_self}= page.relative_pretty_link_to_self
                  %td.content
                    - if page.have_image?
                      %i.icon-picture.has-image
                    - if page.have_video?
                      %i.icon-film.has-video
                    - if page.have_music?
                      %i.icon-music.has-music
                    - if page.have_stylesheet?
                      %i.icon-font.has-stylesheet
                    - if page.enable_comments
                      %i.icon-comment.has-facebook-comments
                    - if page.have_html_errors?
                      %i.icon-exclamation-sign.has-html-errors
                  %td.favorite
                    - if page.favorite
                      %a.star-it.hide.show-on-hover{:href => '#'}
                        %i.icon-star-empty
                      %a.starred{:href => '#'}
                        %i.icon-star
                    -else
                      %a.star-it.show-on-hover{:href => '#'}
                        %i.icon-star-empty
                      %a.starred.hide{:href => '#'}
                        %i.icon-star
                  %td.preview
                    %a.preview-link.btn.preview-btn.show-on-hover{:href => '#'}
                      %i.icon-eye-open
    #preview-container.hide.span4
      %h3 Preview
      %hr
      #loading.hide
        .progress.progress-striped.active
          .bar{:style => 'width: 100%'}
      #preview
        %iframe

%script{:src => "/list.js"}
