<script src="/list.js"></script>
<link href='/list.css' media='all' rel='stylesheet' />

<table class='table'>
  <thead>
    <tr>
      <td></td>
      <td>Event</td>
      <td>Name</td>
      <td>Link</td>
    <tr/>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td>
          <form id='delete_page_<%= page.salt %>_<%= URI.encode(page.name) %>' action="<%= page.relative_link_to_self %>" method='post'>
            <input type='hidden' name='_method' value='delete'/>
            <a href='#' class='delete'><i class='icon-trash'></i></a>
          </form>
        </td>
        <td>
          <%= page.event %>
        </td>
        <td>
          <%= page.name %> <%= page.middle_initial %> <%= page.last_name %>
        </td>
        <td>
          <a href="<%= page.relative_link_to_self %>"><%= page.relative_pretty_link_to_self %></a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
